
.camel li
{
    font-size: 20px;
}

.camel p
{
    font-size: 30px;
}

.camel img
{
    border: 10px;
    border-radius: 90px;
    border-color: black;
    border-style: double;
}

.pigeon li
{
    font-size: 20px;
}

.pigeon p
{
    font-size: 30px;
}

.pigeon img
{
    border: 10px;
    border-radius: 90px;
    border-color: black;
    border-style: double;
}

.teddy li
{
    font-size: 20px;
}

.teddy p
{
    font-size: 30px;
}

.teddy img
{
    border: 10px;
    border-radius: 90px;
    border-color: black;
    border-style: double;
}

.chameleon li
{
    font-size: 20px;
}

.chameleon p
{
    font-size: 30px;
}

.chameleon img
{
    border: 10px;
    border-radius: 90px;
    border-color: black;
    border-style: double;
}

.cicada li
{
    font-size: 20px;
}

.cicada p
{
    font-size: 30px;
}

.cicada img
{
    border: 10px;
    border-radius: 90px;
    border-color: black;
    border-style: double;
}

.panda li
{
    font-size: 20px;
}

.panda p
{
    font-size: 30px;
}
.panda img
{
    border: 10px;
    border-radius: 90px;
    border-color: black;
    border-style: double;
}
body
{
    background-color: blanchedalmond;
}

.introduction h1
{
    font-size: 40px;
} 